      .top {
        height: 15%;
        width: 100%;
        
      }

      .sidebar {
       width: 15%
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      #map {
        height: 85%;
        width: 85%;
        float: right;
              }

      html, body {
        height: 100%;
        
        margin: 40;
        padding: 0;
      }