      .top {
        height: 14%;
        width: 85%;
        float:right;
       -webkit-box-shadow: -1px 2px 2px 3px  rgba(212,212,212,1);
       -moz-box-shadow: -1px 2px 2px 3px  rgba(212,212,212,1);
box-shadow: -1px 2px 2px 3px  rgba(212,212,212,1);
        
      }
      
      .gap {
        height: 1%;
              width: 85%;
        float:right;
      }

      .sidebar {
       width: 14%;
       height: 100%;
       float: left;
       -webkit-box-shadow: 10px 2px 2px 2px  rgba(212,212,212,1);
       -moz-box-shadow: 10px 2px 2px 2px  rgba(212,212,212,1);
       box-shadow: 10px 2px 2px 2px  rgba(212,212,212,1);
       text-alighn:center;
            }
      #map {
        height: 85%;
        width: 85%;
        float: right;
         -webkit-box-shadow: -1px 2px 2px 3px  rgba(212,212,212,1);
	       -moz-box-shadow: -1px 2px 2px 3px  rgba(212,212,212,1);
box-shadow: -1px 2px 2px 3px  rgba(212,212,212,1);
        }
         .box {
               -webkit-box-shadow: inset -20px -25px 10px -10px rgba(135,130,135,1);
	       -moz-box-shadow: inset  -20px -25px 10px -10px rgba(135,130,135,1);
	       box-shadow: inset  -15px -25px 10px -10px rgba(135,130,135,1);

   }

      html, body {
        height: 100%;
        
        margin: 40;
        padding: 0;
      }
      
      .column {
          float: left;
          
}
.button {
-webkit-box-shadow: 1px 1px 2px 1px rgba(212,212,212,1);
-moz-box-shadow: 1px 1px 2px 1px rgba(212,212,212,1);
box-shadow: 1px 1px 2px 1px rgba(212,212,212,1);
padding : 5px;

}